<template>
    <div class="expanded">
    <ol>
        <li v-for="(step, i) in content.steps" :key="i" :id="'helper-step-' + i">
            <a v-if="step.link" :href="step.url" target="_blank" rel="noreferrer noopener" class="standard">
                {{step.desc}}
            </a>
            <p v-else>
                {{step.desc}}
            </p>
            <img v-if="step.img" :src="'./img/' + step.img" class="qr"/>
        </li>
    </ol>
    <div v-if="content.or">
        <strong>OR</strong>
        <ol>
            <li v-for="(step, i) in content.or" :key="i" class="orTag">
                <p>{{step.desc}}</p>
            </li>
        </ol>
    </div>
    <loginbutton :text="'Close'" @clicked="close" :noSubmit="true"/>
    </div>
</template>

<script>
import LoginButton from '../loginButton/LoginButton.vue'
export default {
  components: {
    loginbutton: LoginButton
  },
  methods: {
    close () {
      this.$emit('close')
    }
  },
  name: 'Helper-Component',
  props: {
    content: Object
  }
}
</script>

<style lang="scss">
li img {
    margin-top: 5px;
    width: 190px;
}
.expanded {
    overflow: hidden;
}

p {
    font-weight: 505;
}

strong {
    margin-left: 18px;
}
</style>
