<template>
  <div class="inputContainer">
    <checkbox
      class="formCheck"
      v-if="formKeys.config.category === 'checkbox'"
      @toggle="changeInput"
      :passedId="formKeys.id"
      :checked="formKeys.value"
      :isDisabled="isDisabled"
    />
    <label
      :for="formKeys.id"
      :class="{adjustedLabel: formKeys.config.category === 'checkbox'}"
      @click="formKeys.config.category === 'checkbox' ? changeInput({target: {id: formKeys.id, value: !formKeys.value}}) : null"
    >{{formKeys.title + (formKeys.validation && formKeys.validation.required ? ' *' : '')}}</label>
    <div class="help" @click="help = !help" v-if="formKeys.help" aria-label="Help" title="Help">
      <span> <font-awesome-icon icon="question-circle"/></span>
    </div>
    <br>
    <vue-country-code
      v-if="formKeys.extra && formKeys.extra.type === 'country code'"
      @onSelect="setCountry"
      :defaultCountry="formKeys.default ? formKeys.extra.value : null"
    />

    <input
      :type="formKeys.config.type"
      v-if="formKeys.config.category === 'input'"
      @input="changeInput"
      @blur="blurInput"
      @keyup="keyUp"
      :id="formKeys.id"
      :maxlength="formKeys.config.maxLength"
      :value="formKeys.value"
      :disabled="formKeys.items && formKeys.items.length >= 5 || isDisabled"
      :placeholder="formKeys.config.placeholder"
      :class="{invalid: !formKeys.valid && formKeys.touched, offset: formKeys.extra}"
      :aria-label="formKeys.title"
    >

    <textarea
      v-else-if="formKeys.config.category === 'textarea'"
      @keyup="keyUp"
      @blur="blurInput"
      @input="changeInput"
      :id="formKeys.id"
      :disabled="isDisabled"
      :value="formKeys.value"
      :placeholder="formKeys.config.placeholder"
      :class="{invalid: !formKeys.valid && formKeys.touched}"
      :aria-label="formKeys.title"
    />

    <select
      v-else-if="formKeys.config.category === 'select'"
      :value="formKeys.value"
      :disabled="isDisabled"
      @input="changeInput"
      :id="formKeys.id"
      :aria-label="formKeys.title"
    >
      <option v-for="(option,i) in formKeys.config.options" :key="option.id + '-' + i" :value="option.value">{{option.name}}</option>
    </select>

    <div class="item" v-for="(tag, i) in formKeys.items" :key="tag + '-' + i" :id="tag">
      <p>{{tag}}</p>
      <span title="Delete tag" @click="deleteTag">x</span>
    </div>

    <form-status
      v-if="formKeys.desc && !formKeys.valid && formKeys.touched && formKeys.value !== ''"
      :form="{message: formKeys.desc, error: true}"
      :noTransform="true"
    />
    <transition name="expand">
      <helper v-if="help" :content="formKeys.help" @close="help = false"/>
    </transition>
  </div>
</template>

<script>
import FormStatus from '../formStatus/FormStatus.vue'
import Helper from '../helper/Helper.vue'
export default {
  components: {
    'form-status': FormStatus,
    helper: Helper
  },
  data () {
    return {
      help: false
    }
  },
  methods: {
    changeInput (e) {
      this.$emit('changed', e.target)
    },
    blurInput (e) {
      this.$emit('blurred', e.target)
    },
    deleteTag (e) {
      this.$emit('deletetag', e.target)
    },
    keyUp (e) {
      this.$emit('keyUp', e)
    },
    setCountry (e) {
      this.$emit('changeCountry', e)
    }
  },
  name: 'Input-Component',
  props: {
    isDisabled: Boolean,
    formKeys: Object
  }
}
</script>

<style lang="scss" scoped>
.inputContainer {
  margin-bottom: 20px;
  position: relative;
}

.vue-country-select {
  margin: 5px 10px 0 0;
  background-color: $lw;
}

.formCheck {
  margin: 0;
  position: relative;
  display: inline-block;
}

input {
  @extend %inputShared;
}
select {
  @extend %inputShared;
  width: 100%;
}

input.offset {
  width: calc(100% - 90px);
  float: right;
}

input:disabled {
  cursor: not-allowed;
}
textarea {
  @extend %inputShared;
  resize: vertical;
  display: inline;
  min-height: 250px;
}

.invalid {
  background-color: $invalid;
  border: 1px solid $dangerLight;
}

small {
  font-size: 13px;
  font-weight: bold;
  color: rgb(236, 177, 154);
}

.item {
  background-color: #4aa879;
  border-radius: 12px;
  display: inline-block;
  margin: 10px 10px 10px 0;
  p {
    margin: 0;
    padding: 7px 40px 7px 4px;
    display: inline-block;
  }
  span {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    font-size: 20px;
  }
}

label {
  color: $w;
  font-weight: bold;
}

.adjustedLabel {
  position: absolute;
  margin-top: 4px;
  cursor: pointer;
  padding-left: 5px;
}

.signBox label {
  color: $dg;
}

.expanded {
  overflow: hidden;
}
</style>
