<template>
    <transition name="slidedown">
      <div class="statusBar" v-if="status.active">
        <h2>
          <font-awesome-icon :icon="status.error ? 'exclaimation-triangle' : 'check-circle'"/>
          {{status.message}}
        </h2>
      </div>
    </transition>
</template>

<script>
export default {
  name: 'Statusbar-Component',
  props: {
    status: Object
  }
}
</script>

<style lang="scss" scoped>
    .statusBar {
      background-color: $w;
      width: 100%;
      overflow: hidden;
      h2 {
        margin: 0 auto;
        text-align: center;
        padding: 5px 0;
      }
    }
    .slidedown-enter-active {
        animation: expandin 0.5s ease-in-out forwards;
    }
    .slidedown-leave-active {
        animation: expandout 0.5s ease-in-out forwards;
    }
    @keyframes expandin {
        from {
            height: 0px;
        }
        to {
            height: 37px;
        }
    }
    @keyframes expandout {
        from {
            height: 37px;
        }
        to {
            height: 0px;
        }
    }
</style>
