%basetextAlignment {
    display: inline-table;
    margin-left: 20px;
    margin-right: 20px;
}

%centeredBox {
    width: 375px;
    position: relative;
    display: block;
}

%centeredSingle {
    display: block !important;
    margin: auto;
    position: relative !important;
}

%centeredText {
    @extend %centeredSingle;
    text-align: center;
}

%deadCenterItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

%floatContainer {
    float: right;
    position: relative;
    right: 5px;
    margin-top: 7px;
    z-index: 2;
}

%inputShared {
    width: calc(100% - 22px);
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    margin: 5px auto;
    display: inline-table;
}

@media all and (max-width: 1200px) {
    %centeredBox {
      width: 338px;
      display: block;
    }
}