//colors

$b: #000;
$brown: #d5b78b;
$c1: #acacac;
$c2: #888;
$danger: #d00;
$dangerDisabled: #653b3b;
$dangerLight: #f00;
$dg: #333;
$invalid: #eba49a;
$lw: #ddd;
$noteblock: #d5b78b;
$sec: #4aa879;
$theme-color: #3fce94;
$w: #fff;

//dimensions

$boxHeight: 25px;
$headerHeight: 70px;
$offset: calc(27% - 32px);
$tabR: 10px;