<template>
    <div class="sBox" :class="{wider: wider}">
        <div class="textCenter">
            <h3>{{h3title}}</h3>
        </div>
        <slot/>
    </div>
</template>

<script>
export default {
  name: 'Splashbox-Component',
  props: {
    h3title: String,
    wider: Boolean
  }
}
</script>

<style lang="scss" scoped>
    .sBox {
        width: 360px;
        position: relative;
        z-index: 3;
        border: 2px solid $w;
        .textCenter {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            h3 {
                color: $w;
                padding: 0 20px;
                position: relative;
                display: inline-block;
                margin-top: 0;
                z-index: 6;
                text-align: center;
                transform: translateY(-13px)
            }
        }
        ul {
            margin-top: 40px;
            margin-bottom: 40px;
            color: $w;
            li {
                margin-bottom: 10px;
            }
        }
        button {
            display: block;
            margin: 20px auto !important;
            color: $w;
            font-weight: bold;
            border: 2px solid $w !important;
            padding: 10px 0 !important;
            width: 200px;
        }
    }
    .sBox:before {
        content: "";
        width: 90px;
        margin: auto;
        display: block;
        height: 3px;
        z-index: 5;
        transform: translateY(-2px);
        background-color: $theme-color;
        background-image: url('/img/seamless_monochrome_pencil_pattern_background.png');
        background-attachment: fixed;
    }
    .sBox.wider:before {
        width: 150px;
    }
    @media all and (max-width: 900px){
        .sBox {
            display: block;
            margin: auto auto 40px auto;
        }
    }
    @media all and (max-width: 400px){
        .sBox {
            width: 290px;
        }
    }
</style>
