<template>
    <div>
        <div class="check">
            <font-awesome-icon icon="check-circle" class="largeSuccess"/>
        </div>
        <h1 class="centered">Success!</h1>
        <p v-if="message" class="mSuccess">{{message}}</p>
        <slot/>
    </div>
</template>

<script>
export default {
  name: 'Success-Component',
  props: {
    message: [Boolean, String]
  }
}
</script>

<style lang="scss" scoped>
    .mSuccess {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>
