<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/icons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/icons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="img/icons/android-chrome-192x192.png" sizes="192x192" />
  <link rel="icon" type="image/png" href="img/icons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="img/icons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="img/icons/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="img/icons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="img/icons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="img/icons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="img/icons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="img/icons/mstile-310x310.png" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>The Notetaker</title>
  <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
</head>

<body>
  <noscript>
    <strong>We're sorry but
      <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>