<template>
  <div>
    <p>
      Background image via
      <a
        href="https://www.vecteezy.com/free-vector/accessories"
        _target="blank"
        rel="noopener noreferrer"
      >Vecteezy</a>
    </p>
  </div>
</template>

<style scoped lang="scss">
div {
    position: fixed;
    bottom: 0;
    z-index: 5;
    p {
        background-color: $b;
        color: $w;
        position: relative;
        padding: 4px 2px 4px 4px;
        margin: 0;
        font-size: 14px;
    }
    a {
      color: $theme-color;
    }
}
</style>

<script>
export default {
  name: 'BGCredit-Component'
}
</script>
