<template>
    <div>
        <h2>Sort </h2>
        <select name="Sort notes" :value="selectValue" @change="sortItems($event.target.value)" title="Sort by">
            <option value="title">Title</option>
            <option value="date">Created</option>
            <option value="edited">Last Edited</option>
            <option value="relevance" v-if="search">Relevance</option>
        </select>
    </div>
</template>

<script>
export default {
  name: 'Select-Component',
  props: {
    selectValue: String,
    sortItems: Function,
    search: Boolean
  }
}
</script>

<style lang="scss" scoped>
    div {
        display: inline-block;
        margin: 0 5px 0 25px;
        h2 {
            display: inline;
        }
        select {
            font-size: 26px;
            padding: 2px;
        }
    }

    @media all and (max-width: 900px){
        div {
            margin-left: 9px;
            select {
                font-size: 17px;
                padding: 9px 2px 5px 2px;
            }
        }
    }
</style>
