<template>
    <div>
        <button class="ui-button gridSwitch grid" title="Grid view" :class="{active: grid}" @click="setGrid(true)">
            <font-awesome-icon icon="th"/>
        </button>
        <button class="ui-button gridSwitch list" title="List view" :class="{active: !grid}" @click="setGrid(false)">
            <font-awesome-icon icon="list"/>
        </button>
    </div>
</template>

<script>
export default {
  props: {
    grid: Boolean,
    setGrid: Function
  }
}
</script>
