<template>
  <div class="fullWidthContainer main" :class="{locked: prompt}">
    <modal v-if="prompt" :error="error" :message="promptContent">
      <template v-if="error">
        <button class="danger" @click="closePrompt">Okay</button>
      </template>
      <template v-else>
        <button class="danger" @click="redir">Okay</button>
        <button class="success" @click="closePrompt">Cancel</button>
      </template>
    </modal>
    <div class="editContainer" v-if="!loading">
      <h1 class="headline noAdjustment">Edit</h1>
      <form @submit.prevent="submitForm" class="wide">
        <form-input
          v-for="formEl in formData.formContent"
          :key="formEl.title"
          :formKeys="formEl"
          @changed="inputChanged"
          @blurred="inputBlurred"
          @deletetag="deleteTag"
        />
        <p v-if="changedForm >= 1 && changedForm !== true" class="changeNotice">
          {{changedForm}} change<span v-if="changedForm >= 2">s</span>
        </p>
        <div class="buttonHolder">
          <button type="button" @click="back">Cancel</button>
          <button type="submit" :disabled="formCannotBeSent">Save</button>
        </div>
      </form>
    </div>
    <div v-else class="loaderHolder">
      <loader :color="'green'"/>
    </div>
    <bgcredit/>
  </div>
</template>

<script>
import Input from '../components/input/Input.vue'
import { checkValid, checkEmpty, validateForm } from '../shared/utility'
import { ObjectId } from '../shared/Objectid'
export default {
  data () {
    return {
      formData: {
        formContent: {
          title: {
            config: {
              category: 'input',
              type: 'text',
              placeholder: 'Max 100 characters'
            },
            touched: false,
            valid: false,
            value: '',
            title: 'Title',
            id: 'title',
            validation: {
              required: true,
              minLength: 2,
              maxLength: 100,
              regex: /^[^\\/:\*\?"<>\|]+$/
            }
          },
          tags: {
            config: {
              category: 'input',
              type: 'text',
              placeholder: 'Separate with comma, max 5 tags'
            },
            touched: false,
            valid: true,
            value: '',
            title: 'Tags',
            id: 'tags',
            validation: {
              minLength: 2,
              maxLength: 40,
              unique: true,
              testOne: true,
              partOfArray: true,
              regex: /^([A-Za-z0-9\s,]*)$/
            },
            items: []
          },
          content: {
            config: {
              category: 'textarea',
              placeholder: 'Max 10 000 characters'
            },
            touched: false,
            valid: false,
            value: '',
            title: 'Content',
            id: 'content',
            validation: {
              required: true,
              minLength: 1,
              maxLength: 10000
            }
          }
        },
        isValid: false
      },
      isEmpty: true,
      prompt: false,
      promptContent: null,
      redirectUrl: null,
      dontSave: false,
      changedForm: true,
      editedNote: null
    }
  },
  name: 'Edit-View',
  props: {
    clearNotes: Function,
    clearError: Function,
    error: [Object, Boolean],
    isAuth: Boolean,
    loading: Boolean,
    offline: Boolean,
    loadNotes: Function,
    notes: Array,
    triedLoad: Boolean,
    updateUI: Function,
    uploadNote: Function
  },
  methods: {
    back () {
      this.$router.push('/')
    },
    compareObjects () {
      if (!this.editedNote) return
      let changed = false

      const fromModule = {
        title: this.formData.formContent.title.value,
        tags: [...this.formData.formContent.tags.items].sort().join(' '),
        content: this.formData.formContent.content.value
      }

      const fromParent = {
        ...this.editedNote,
        tags: [...this.editedNote.tags].sort().join(' ')
      }

      for (const key in fromModule) {
        if (fromModule[key] !== fromParent[key]) {
          if (changed === false) changed = 0
          changed++
        }
      }

      return changed
    },
    closePrompt () {
      this.prompt = false
      if (this.error) this.clearError()
    },
    deleteTag (target) {
      const newArray = [...this.formData.formContent.tags.items]
      newArray.splice(
        this.formData.formContent.tags.items.findIndex(
          t => t === target.parentElement.id
        ),
        1
      )
      this.$set(this.formData.formContent.tags, 'items', [...newArray])
      this.changedForm = this.compareObjects()
      this.isEmpty = checkEmpty(this.formData.formContent)
    },
    handleBeforeUnload (e) {
      e.preventDefault()
    },
    initEdited () {
      this.editedNote = this.notes.find(
        n => n._id === this.$route.query.objectid
      )
      this.$set(this.formData, 'formContent', {
        ...this.formData.formContent,
        title: {
          ...this.formData.formContent.title,
          value: this.editedNote.title,
          valid: true
        },
        content: {
          ...this.formData.formContent.content,
          value: this.editedNote.content,
          valid: true
        }
      })

      const formIsValid = validateForm(this.formData.formContent)
      this.$set(this.formData, 'isValid', formIsValid)

      this.$set(this.formData.formContent.tags, 'items', [
        ...this.editedNote.tags
      ])

      this.changedForm = false

      document.title = 'Editing ' + this.editedNote.title + ' - The Notetaker'
    },
    inputBlurred (target) {
      if (!target.disabled) this.setForm(target, true)
    },
    inputChanged (target) {
      this.setForm(target)

      this.isEmpty = checkEmpty(this.formData.formContent)

      if (target.id === 'tags' && this.formData.formContent[target.id].valid) this.pasted(target.value)

      if (this.editedNote) this.changedForm = this.compareObjects()
    },
    leaving (preventDefault) {
      if (preventDefault) {
        window.addEventListener('beforeunload', this.handleBeforeUnload)
      } else {
        window.removeEventListener('beforeunload', this.handleBeforeUnload)
      }
    },
    pasted (value) {
      if (value.indexOf(',') > -1) {
        value = value.split(',')
        if (!value[value.length - 1].trim()) value.splice(value.length - 1)
        if (value.length > 5 - this.formData.formContent.tags.items.length) {
          const remaining = [...value]
          remaining.splice(0, 5 - this.formData.formContent.tags.items.length)
          value.splice(5 - this.formData.formContent.tags.items.length)

          this.$set(this.formData.formContent.tags, 'value', remaining.join(' '))
        } else {
          this.$set(this.formData.formContent.tags, 'value', '')
        }

        this.$set(this.formData.formContent.tags, 'items', [
          ...this.formData.formContent.tags.items,
          ...value
        ])
      }
    },
    redir () {
      this.dontSave = true
      this.$router.push(this.redirectUrl)
    },
    setForm (target, setTouched = false) {
      this.formData.formContent[target.id] = {
        ...this.formData.formContent[target.id],
        value: target.value,
        touched: setTouched ? true : this.formData.formContent[target.id].touched,
        valid: checkValid(
          target.value,
          this.formData.formContent[target.id].validation,
          this.formData.formContent[target.id]
        )
      }
      const formIsValid = validateForm(this.formData.formContent)
      this.$set(this.formData, 'isValid', formIsValid)
    },
    submitForm: async function () {
      if (!this.changedForm) return

      if (this.formData.formContent.tags.value !== '') {
        this.formData.formContent.tags.items.push(
          this.formData.formContent.tags.value
        )
        this.formData.formContent.tags.value = ''
      }

      let objID
      let date = new Date().toISOString().split('.')[0]

      if (!this.editedNote && !this.isAuth) {
        objID = new ObjectId().toString()
      } else if (this.editedNote) {
        objID = this.editedNote._id
        if (this.editedNote.date) date = this.editedNote.date
      }

      const obj = {
        type: 'note',
        _id: objID,
        title: this.formData.formContent.title.value,
        tags: this.formData.formContent.tags.items,
        content: this.formData.formContent.content.value,
        date: date,
        edited: new Date().toISOString().split('.')[0]
      }

      const redirString = "/view?objectid=";

      if (!this.isAuth) {
        localStorage.setItem(
          objID,
          JSON.stringify(obj)
        )
        this.changedForm = false
        this.$router.push(redirString + objID);
        this.clearNotes()
        this.loadNotes()
      } else {
        const redir = await this.uploadNote(obj, this.editedNote);
        if (redir) {
          this.changedForm = false
          this.$router.push(!this.isAuth || this.editedNote ? redirString + objID : '/');
        }
      }
    }
  },
  computed: {
    formCannotBeSent () {
      if (!this.formData.isValid || !this.changedForm) {
        return true
      } else {
        return false
      }
    }
  },
  components: {
    'form-input': Input
  },
  watch: {
    isEmpty () {
      this.leaving((!this.isEmpty && !this.editedNote) || (this.changedForm && !this.isEmpty))
    },
    changedForm () {
      this.leaving((!this.isEmpty && !this.editedNote) || (this.changedForm && !this.isEmpty))
    },
    error () {
      if (this.error) {
        this.prompt = true
        this.promptContent = this.error.message
      } else {
        this.prompt = false
      }
    },
    notes: {
      immediate: true,
      deep: true,
      handler () {
        if ((this.triedLoad && this.$route.query && this.$route.query.objectid) || (
          this.offline && this.$route.query && this.$route.query.objectid
        )) {
          this.initEdited()
        }
      }
    }
  },
  created () {
    if ((this.triedLoad && this.$route.query && this.$route.query.objectid) || (
          this.offline && this.$route.query && this.$route.query.objectid
        )) {
      this.initEdited()
    }
  },
  beforeRouteLeave (to, from, next) {
    if (this.isEmpty || !this.changedForm || this.dontSave) {
      next()
    } else {
      this.prompt = true
      this.promptContent = 'You have unsaved changes. Are you sure you want to leave this page?'
      this.redirectUrl = to
      next(false)
    }
  },
  beforeDestroy () {
    this.leaving(false)
    this.updateUI(true)
    this.clearError()
  }
}
</script>

<style lang="scss" scoped>
  .editContainer {
    width: 70%;
    margin: auto auto 80px auto;
    position: relative;
    top: 40px;
    background-color: $c1;
    border-radius: 10px;
  }
  @media all and (max-width: 1200px){
     .editContainer {
       width: 100%;
       border-radius: 0;
     }
  }
</style>
