<template>
  <div>
    <modal v-if="prompt" :error="error" :message="promptContent">
      <template v-if="error">
        <button class="danger" @click="closePrompt">Okay</button>
      </template>
      <template v-else-if="localToLoad">
        <button class="success" @click="migrate(true)">Migrate</button>
        <button class="danger" @click="migrate(false)">Cancel</button>
      </template>
      <template v-else>
        <button class="danger" @click="deleteAllSelected">Delete</button>
        <button class="success" @click="closePrompt">Cancel</button>
      </template>
      <template v-if="localToLoad" v-slot:checkbox>
        <checkbox class="bordered" :checked="remember" @toggle="remember = !remember"/>
        <label class="remember">Remember this decision</label>
      </template>
    </modal>
    <topbar :expand="expand">
      <input
        class="searchBar"
        type="text"
        maxlength="40"
        placeholder="Search..."
        :value="search"
        @change="changeSearchField"
        @keyup="$event.which === 13 ? preSearch() : checkEmpty($event)"
      >
      <button title="Search" @click="preSearch" class="ui-button">
        <font-awesome-icon icon="search"/>
      </button>
      <router-link title="New" to="/edit?new=true" tag="button" class="ui-button">
        <font-awesome-icon icon="plus"/>
      </router-link>
      <button
        class="ui-button"
        title="Delete items"
        :disabled="this.toDisplay.length === 0"
        @click="toggleDelete(!deletingItems)"
        :class="{active: deletingItems}"
      >
        <font-awesome-icon icon="trash"/>
      </button>
      <sort
      class="sortHolder"
      :selected="selected"
      :showNew="showNew"
      :sortItems="sortItems"
      :sortUp="sortUp"
      :toggleOrder="toggleOrder"
      />
      <div class="buttonContainerRight wide">
        <button title="Show more options" class="ui-button more" :class="{active: expand}" @click="expand = !expand">
          <font-awesome-icon icon="ellipsis-h"/>
        </button>
        <switchgrid :grid="grid" :setGrid="setGrid" class="gridSwitch"/>
      </div>
      <transition name="fade">
        <sort
        class="sortHolder2"
        v-if="expand"
        :selected="selected"
        :showNew="showNew"
        :sortItems="sortItems"
        :sortUp="sortUp"
        :toggleOrder="toggleOrder"
        />
      </transition>
    </topbar>
    <div
      class="standardWidth mainContainer main"
      :class="{deleting: deletingItems, locked: prompt, expand: expand, list: !grid}"
    >
      <div class="innerTopBar" v-if="!grid">
        <h3>Title</h3>
        <h3>Created</h3>
        <h3>Last edited</h3>
      </div>
      <div class="noteContainer" :class="{list: !grid}" v-if="!loading">
        <router-link
          to="/edit?new=true"
          class="newNote note"
          title="Create a new note"
          v-if="grid && showNew"
          tag="article"
        >
          <font-awesome-icon icon="file-medical" class="noteIcon"/>
          <p>Create new...</p>
        </router-link>
        <article
          v-for="note in toDisplay"
          :key="note._id"
          class="note"
          :title="note.title"
          :class="{list: !grid}"
        >
          <div @click="viewNote(note._id)" class="routerContainer">
            <font-awesome-icon icon="file-alt" class="noteIcon"/>
            <p class="noteTitle">{{shorten(note.title)}}</p>
            <p :title="'Created ' + note.date | dateFilter">
              <span v-if="grid">C:</span>
              {{note.date | dateFilter | cutHours}}
            </p>
            <p :title="'Last edited ' + note.edited | dateFilter">
              <span v-if="grid">E:</span>
              {{note.edited | dateFilter | cutHours}}
            </p>
            <div class="listButtons" v-if="!grid && !deletingItems">
              <font-awesome-icon
                @click.stop="$router.push('/edit?objectid=' + note._id)"
                icon="edit"
                title="Edit this item"
                class="listTools"
              />
              <font-awesome-icon
                icon="trash"
                title="Delete this item"
                class="listTools"
                @click.stop="deleteOne(note)"
              />
            </div>
          </div>
          <checkbox
            v-if="deletingItems"
            class="homeCheck"
            @toggle="toggleMarked(note,$event)"
            :checked="note.markedForDeletion"
          />
        </article>
        <h1 v-if="toDisplay.length === 0 && !showNew || toDisplay.length === 0 && !grid">
          <font-awesome-icon icon="exclamation-triangle"/> No notes found
        </h1>
      </div>
      <div v-else class="loaderHolder">
        <loader :color="'brown'"/>
      </div>
      <div class="bottomGridSwitch" :class="{bar: deletingItems}">
        <switchgrid :grid="grid" :setGrid="setGrid"/>
      </div>
    </div>
    <transition name="slideup">
      <div class="deleteBar" v-if="deletingItems">
        <p>{{selectItems}}</p>
        <div class="deleteButtons">
          <button @click="selectAll">Select all</button>
          <button
            @click="deletePrompt(false)"
            title="Delete all selected items"
            :disabled="deleteNumber === 0"
          >Delete</button>
          <button @click="toggleDelete(false)">Cancel</button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { dateFilter, deletePromptGenerator } from '../shared/utility'
import Sort from '../components/sort/Sort.vue'
import SwitchGrid from '../components/switchGridButtons/SwitchGrid.vue'
import TopBar from '../components/topbarInner/TopbarInner.vue'
export default {
  data () {
    return {
      deletingItems: false,
      expand: false,
      localToLoad: false,
      prompt: false,
      promptContent: '',
      remember: false
    }
  },
  props: {
    authToken: [Boolean, String],
    changeSearchField: Function,
    checkForLocal: Function,
    checkedForLocal: Boolean,
    checkLength: Function,
    clearError: Function,
    clearMarked: Function,
    deleteAll: Function,
    deleteNumber: Number,
    deleteOneObj: Function,
    error: [Object, Boolean],
    grid: Boolean,
    isAuth: Boolean,
    loading: Boolean,
    local: Array,
    migrateNotes: Function,
    notes: Array,
    offline: Boolean,
    search: String,
    searchItems: Function,
    selectAll: Function,
    selected: String,
    setCheckedLocal: Function,
    setGrid: Function,
    setLocalExist: Function,
    setMigrate: Function,
    showNew: Boolean,
    sortItems: Function,
    sortUp: Boolean,
    toDisplay: Array,
    toggleOrder: Function,
    triedLoad: Boolean,
    updateUI: Function,
    user: [Object, Boolean]
  },
  components: {
    sort: Sort,
    switchgrid: SwitchGrid,
    topbar: TopBar
  },
  computed: {
    selectItems () {
      if (this.deleteNumber <= 0) {
        return 'Select items to delete'
      } else {
        let s = ''
        if (this.deleteNumber >= 2) s = 's'
        return this.deleteNumber + ' item' + s + ' selected'
      }
    }
  },
  filters: {
    dateFilter,
    cutHours (val) {
      if (val) return val.substring(0, 10)
    }
  },
  name: 'Home-View',
  watch: {
    triedLoad: {
      immediate: true,
      deep: true,
      handler (newValue) {
        if (newValue === true) {
          this.updateUI()
        }

        if (!this.checkedForLocal && !this.prompt && newValue === true) {
          this.askIfImportLocal()
        }
      }
    },
    error: {
      immediate: true,
      deep: true,
      handler (newValue, oldValue) {
        if (newValue && newValue.message) {
          this.prompt = true
          this.promptContent = newValue.message
        } else {
          this.prompt = false
        }
      }
    },
    notes: {
      immediate: true,
      deep: true,
      handler (newValue) {
        if (!this.checkedForLocal && !this.prompt && this.triedLoad) {
          this.askIfImportLocal()
        }
      }
    },
    prompt () {
      if (!this.checkedForLocal && !this.prompt && this.triedLoad) {
        this.askIfImportLocal()
      }
    },
  },
  methods: {
    askIfImportLocal () {
      const found = this.checkForLocal()
      if (found) {
        this.localToLoad = true
        if (this.user.migrate >= 2) {
          this.migrate(true)
        } else if (this.user.migrate === 1) {
          this.prompt = true
          this.promptContent =
            this.count() +
            ' notes were found locally that have not been stored on your account. Do you want to migrate them to your account?'
        } else {
          this.localToLoad = false
          this.setLocalExist(true)
        }
      }
      this.setCheckedLocal(true)
    },
    checkEmpty (e) {
      if (e.target.value === '') this.updateUI(false, true)
    },
    closePrompt () {
      this.prompt = false
      if (!this.deletingItems) this.clearMarked()
      if (this.error) this.clearError()
    },
    count () {
      let c = 0
      for (const key of this.local) {
        if (key.notOnline) c++
      }
      return c
    },
    deleteOne (obj) {
      this.deleteOneObj(obj)
      this.deletePrompt(obj)
    },
    deletePrompt (obj) {
      this.prompt = true
      this.promptContent = deletePromptGenerator(
        obj,
        this.toDisplay,
        this.deleteNumber
      )
    },
    deleteAllSelected: async function () {
      this.prompt = false
      const res = await this.deleteAll()
      if (res) this.deletingItems = false
    },
    migrate (migrateLocal) {
      this.prompt = false
      this.localToLoad = false
      this.promptContent = ''
      if (this.remember) {
        this.setMigrate(migrateLocal)
      }
      if (migrateLocal) {
        this.migrateNotes()
      } else {
        this.setLocalExist(true)
      }
    },
    // middleware function to disable delete mode before searching
    preSearch () {
      this.toggleDelete(false)
      this.searchItems()
    },
    shorten (value) {
      if (value.length > 15 && this.grid) {
        return value.substring(0, 15) + '...'
      } else {
        return value
      }
    },
    toggleDelete (mode) {
      this.deletingItems = mode
      this.checkLength()

      this.clearMarked()
    },
    toggleMarked (obj, e) {
      obj.markedForDeletion = e.target.value
      this.checkLength()
    },
    viewNote (id) {
      if (!this.deletingItems) {
        this.$router.push('/view?objectid=' + id)
      }
    }
  },
  created () {
    this.clearMarked()
    if (this.offline) this.updateUI()
  },
  beforeDestroy () {
    this.clearMarked()
    this.clearError()
  }
}
</script>

<style lang="scss" scoped>
.searchBar {
  font-size: 26px;
  width: 300px;
  border-radius: 4px;
  margin: 10px 5px auto 10px;
  padding: 0 5px;
  box-sizing: border-box;
}
.sortHolder {
  display: inline-table;
}
.sortHolder2 {
  display: none;
}
.mainContainer {
  position: relative;
  background-color: $noteblock;
  top: 54px;
  .innerTopBar {
    width: 100%;
    background-color: #acacac;
    height: 30px;
    transition: margin 0.4s ease;
    :first-child {
      margin-left: 35px;
    }
    :last-child {
      width: auto;
    }
    h3 {
      display: inline-table;
      width: $offset;
      margin-right: 10px;
      margin-top: 3px;
    }
  }
  .innerTopBar.expand {
    margin-top: auto;
  }
  .noteContainer {
    margin-top: 20px;
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    article {
      margin: auto 15px;
      display: inline-table;
      width: 100px;
      cursor: pointer;
      .noteIcon {
        font-size: 70px;
        color: #000;
      }
      p {
        font-size: 12px;
        color: #000;
        margin-top: 4px;
        margin-bottom: 2px;
      }
    }

    .list {
      width: 100%;
      margin: 1px 0;
      height: auto;
      text-align: left;
      background-color: #ddd;
      transition: background 0.4s ease;
      .routerContainer {
        display: inline-block;
        width: 100%;
        min-height: 40px;
        z-index: 1;
        .noteIcon {
          font-size: 20px;
          display: inline-table;
          margin-left: 10px;
          margin-top: 10px;
        }
        p {
          display: inline-table;
          width: $offset;
          margin-right: 10px;
        }
        .noteTitle {
          margin-left: 15px;
        }
      }

      .homeCheck {
        @extend %floatContainer;
        display: inline;
        position: absolute;
        border: 1px solid $theme-color;
      }

      .listButtons {
        @extend %floatContainer;
        font-size: 25px;
        .listTools {
          padding: 0 10px;
        }
      }
    }
    .list:hover,
    .list:focus {
      background-color: #fff;
    }
  }
  .bottomGridSwitch {
    display: none;
  }

  .noteContainer.list {
    margin-top: 1px !important;
  }
}
.loaderHolder {
  @extend %deadCenterItems;
  overflow: hidden;
  height: calc(100% - 70px);
}
.deleteBar {
  background-color: $c1;
  position: fixed;
  display: block;
  width: 70%;
  margin-left: 15%;
  bottom: 0;
  min-height: 60px;
  p {
    margin-left: 5px;
    color: $b;
    display: inline-table;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .deleteButtons {
    display: inline-table;
    margin-left: 18px;
    margin-top: 5px;
    float: right;
    button {
      font-size: 17px;
      margin-right: 20px !important;
      padding: 5px 18px;
    }
  }
}
.deleting {
  height: calc(100vh - 130px);
}
.slideup-enter-active {
  animation: slideUp 0.4s ease-in-out forwards;
}
.slideup-leave-active {
  animation: slideDown 0.4s ease-in-out forwards;
}

.bordered {
  border: 1px solid $theme-color;
  display: block;
  float: left;
  margin: 7px 8px 7px 13px;
}

.remember {
  margin-top: 11px;
  display: inline-table;
}

.more {
  display: none;
}

.fade-enter-active {
  animation: fadeIn 0.4s ease forwards;
}

.fade-leave-active {
  animation: fadeOut 0.4s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(105px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(105px);
  }
}

@media all and (max-width: 1200px) {
  .deleteBar {
    width: 100%;
    margin-left: 0;
  }
}
@media all and (max-width: 900px) {
  .searchBar {
    width: 150px;
    font-size: 17px;
    padding-top: 9.5px;
    padding-bottom: 3.5px;
    margin-top: 0;
  }
}
@media all and (max-width: 650px) {
  .mainContainer {
    .bottomGridSwitch {
      display: block;
      right: 20px;
      transition: bottom 0.4s ease-in-out;
      position: fixed;
      bottom: 5px;
      z-index: 8;
    }
    .bar {
      bottom: 65px;
    }
  }
  .main.expand {
    top: 100px;
  }
  .gridSwitch {
    display: none;
  }
  .more {
    display: inline-table;
  }
  .sortHolder {
    display: none;
  }
  .sortHolder2 {
    display: block;
    margin-left: 2px;
  }
}
@media all and (max-width: 600px) {
  .deleteBar {
    .deleteButtons {
      display: flex;
      float: none;
      justify-content: space-between;
      width: 310px;
      margin: 0 auto 10px auto;
      button {
        margin: 0 !important;
      }
    }
    p {
      margin: 20px 5px 15px calc(50% - 150px);
    }
  }
  .deleting {
    height: calc(100vh - 164px);
  }
  .mainContainer {
    .bar {
      bottom: 100px;
    }
  }
}
@media all and (max-width: 370px) {
  .searchBar {
    width: 124px;
    margin-left: 5px;
  }
}
</style>
