<template>
  <div class="fullWidthContainer main">
    <div class="box" :class="{twoFactor: twoFactorAuth}">
      <div class="formHolder" v-if="!loading">
        <form v-if="signIn && !twoFactorAuth && !forgotPassword && !resetPassword" @submit.prevent="submitForm">
          <router-link class="link standard top" to="#signup">Dont' have an account? Sign up here</router-link>
          <h1>Sign in</h1>
          <form-input
            v-for="formEl in signInForm.content"
            :key="formEl.title"
            :formKeys="formEl"
            @changed="inputChanged($event, signInForm)"
            @blurred="inputBlurred($event, signInForm)"
          />
          <form-status :form="signInForm"/>
          <router-link to="/login#resetpassword">
            <small class="link standard">Forgot password?</small>
          </router-link>
          <loginbutton :isDisabled="!signInForm.isValid" :text="'Sign in'"/>
        </form>
        <form v-else-if="signIn && !twoFactorAuth && forgotPassword" @submit.prevent="submitForm">
          <h1>Reset password</h1>
          <form-input
            v-for="formEl in forgotPasswordForm.content"
            :key="formEl.title"
            @changed="inputChanged($event, forgotPasswordForm)"
            @blurred="inputBlurred($event, forgotPasswordForm)"
            :formKeys="formEl"
          />
          <form-status :form="forgotPasswordForm"/>
          <router-link to="/login">
            <small class="link standard">Cancel</small>
          </router-link>
          <loginbutton :isDisabled="!forgotPasswordForm.isValid" :text="'Reset password'"/>
        </form>
        <form v-else-if="signIn && !twoFactorAuth && resetPassword" @submit.prevent="submitForm">
          <div v-if="!resetForm.success">
            <h1>Password reset</h1>
            <form-input
            v-for="formEl in resetForm.content"
            :key="formEl.title"
            @changed="inputChanged($event, resetForm)"
            @blurred="inputBlurred($event, resetForm)"
            :formKeys="formEl"
            />
            <form-status :form="resetForm"/>
            <loginbutton :text="'Verify'" :isDisabled="!resetForm.isValid"/>
          </div>
          <div v-else>
            <success :message="resetForm.message">
              <router-link to="/login" class="link standard">Redirecting... (Click to force)</router-link>
              <br/>
            </success>
          </div>
        </form>
        <form v-else-if="signIn && twoFactorAuth" @submit.prevent="submitForm">
          <h1>2-Factor-Authentication
            <font-awesome-icon class="help" title="Help" icon="question-circle" aria-label="Help" @click="twoFactorForm.help = !twoFactorForm.help"/>
          </h1>
          <transition name="expand">
            <helper v-if="twoFactorForm.help" :content="signUpForm.content.twoFactorAuth.help" @close="twoFactorForm.help = false"/>
          </transition>
          <form-input
            v-for="formEl in twoFactorForm.content"
            @blurred="inputBlurred($event, twoFactorForm)"
            @changed="inputChanged($event, twoFactorForm)"
            :key="formEl.title"
            :formKeys="formEl"
          />
          <form-status :form="twoFactorForm"/>
          <small class="link standard" @click="sendSms" v-if="!twoFactorForm.sent">Want the token per sms instead?</small>
          <loginbutton :text="'Verify'" :isDisabled="!twoFactorForm.isValid"/>
        </form>
        <form v-else-if="!signIn && !signUpForm.success" @submit.prevent="submitForm">
          <router-link class="link standard top" to="/login">Already have an account? Sign in here</router-link>
          <h1>Sign up</h1>
          <div v-for="formEl in signUpForm.content" :key="formEl.title">
            <form-input
              v-if="!formEl.doNotRender && !formEl.neverRender"
              :formKeys="formEl"
              @changed="inputChanged($event, signUpForm)"
              @blurred="inputBlurred($event, signUpForm)"
              @changeCountry="changeCountrySet"
            />
          </div>
          <div class="captcha">
            <vue-recaptcha
              sitekey="6Leh0mMUAAAAAPEzzptA06r0xL5rbIcPwxgIHu1u"
              @expired="captchaChanged"
              @render="signUpForm.content.captcha = {...signUpForm.content.captcha, value: '', valid: false}"
              @verify="captchaChanged"
            />
          </div>
          <form-status :form="signUpForm"/>
          <loginbutton :isDisabled="!signUpForm.isValid" :text="'Sign up'"/>
        </form>
        <div v-else-if="!signIn && signUpForm.success">
          <success :message="signUpForm.message">
            <loginbutton :text="'To sign in'" @clicked="setSignIn(true)"/>
          </success>
        </div>
      </div>
      <div class="spinnerBox" v-else>
        <loader/>
      </div>
    </div>
    <bgcredit/>
  </div>
</template>

<script>
import axios from '../shared/axios-instance'
import { cellphone, desc, pW, twoFA } from '../shared/constants'
import { setFields, validateForm } from '../shared/utility'
import FormStatus from '../components/formStatus/FormStatus.vue'
import Helper from '../components/helper/Helper.vue'
import Input from '../components/input/Input.vue'
import LoginButton from '../components/loginButton/LoginButton.vue'
import Success from '../components/success/Success.vue'
import VueRecaptcha from 'vue-recaptcha'

class Email {
  config = {
    category: 'input',
    type: 'email',
    placeholder: 'example@gmail.com'
  }
  validation = {
    required: true,
    isEmail: true,
    maxLength: 100
  }

  value = ''
  title = 'Email address'
  touched = false
  id = 'email' // must be same as key name
}

class Password {

  touched = false
  id = 'password' // must be same as key name
  value = ''
  validation = {
    required: true,
    minLength: 5,
    maxLength: 25
  }
  config = {
    category: 'input',
    type: 'password',
    placeholder: '5-25 characters'
  }

  constructor (regex = false, desc = null, isNew = false) {
    this.validation.regex = regex
    if (isNew) {
      this.title = 'New password'
    } else {
      this.title = 'Password'
    }
    this.desc = desc
  }
}

class RepeatPassword {
  touched = false;
  valid = false;
  validation = {
    required: true,
    mustMatch: true
  }
  id = 'repeatPassword' // must be same as key name
  value = ''
  desc = 'The passwords do not match'

  config = {
    category: 'input',
    type: 'password',
    placeholder: 'Passwords must match'
  }

  constructor (isNew = false) {
    if (isNew) {
      this.title = 'Repeat new password'
    } else {
      this.title = 'Repeat password'
    }
  }
}

export default {
  data () {
    return {
      forgotPassword: false,
      forgotPasswordForm: {
        content: {
          email: new Email()
        },
        isValid: false,
        message: '',
        error: false,
        success: false
      },
      resetCookie: false,
      resetForm: {
        content: {
          password: new Password(
            pW,
            desc,
            true
          ),
          repeatPassword: new RepeatPassword(true)
        },
        isValid: false,
        message: '',
        error: false,
        success: false
      },
      resetPassword: false,
      signIn: true,
      signInForm: {
        content: {
          email: new Email(),
          password: new Password()
        },
        isValid: false,
        error: false,
        message: ''
      },
      signUpForm: {
        content: {
          email: new Email(),
          password: new Password(
            pW,
            desc
          ),
          repeatPassword: new RepeatPassword(),
          twoFactorAuth: { ...twoFA },
          cellphone,
          captcha: {
            // only there for validation, rendered separately
            neverRender: true,
            valid: false,
            validation: {
              required: true
            },
            value: '',
            touched: true // left to ensure that easy setting works
          }
        },
        isValid: false,
        error: false,
        message: '',
        success: false
      },
      twoFactorAuth: false,
      twoFactorForm: {
        content: {
          code: {
            config: {
              category: 'input',
              maxLength: 9,
              type: 'text',
              placeholder: 'Enter token, example 12 34 56 7'
            },
            expand: true,
            valid: false,
            offset: 2,
            touched: false,
            validation: {
              isNumeric: true,
              trim: true,
              minLength: 7,
              maxLength: 7,
              required: true
            },
            title: 'Verification token',
            id: 'code', // must be same as key name
            value: '',
            desc: 'Code must be 7 digits'
          },
          save: {
            config: {
              category: 'checkbox'
            },
            title: 'Save this device as trusted',
            id: 'save', // must be same as key name
            value: false,
            valid: true
          }
        },
        error: false,
        isValid: false,
        help: false,
        message: '',
        sent: false
      },
      twoFactorToken: false
    }
  },
  components: {
    'form-input': Input,
    'form-status': FormStatus,
    helper: Helper,
    loginbutton: LoginButton,
    success: Success,
    VueRecaptcha
  },
  methods: {
    captchaChanged (res = '') {
      this.inputChanged(
        {
          value: res,
          id: 'captcha'
        },
        this.signUpForm
      )
    },
    changeCountrySet (e) {
      this.$set(this.signUpForm.content.cellphone.extra, 'value', e.iso2)
    },
    inputBlurred (target, obj) {
      this.setForm(target, obj, true)
    },
    inputChanged (target, obj) {
      this.setForm(target, obj)
    },
    hashChange () {
      if (this.$route.hash === '#signup') {
        this.signIn = false
        this.twoFactorAuth = false
        this.resetPassword = false
        document.title = 'Sign up - The Notetaker'
      } else {
        this.signIn = true
        this.resetPassword = false
        this.twoFactorAuth = false
        this.forgotPassword = false
        if (this.$route.hash === '#resetpassword') {
          this.forgotPassword = true
          document.title = 'Reset password - The Notetaker'
        } else if (this.$route.hash === '#reset') {
          const cookie = document.cookie
          if (cookie.indexOf('reset') < 0) {
            this.$router.replace('/login')
          } else {
            try {
              const value = '; ' + cookie
              const parts = value.split('; reset=')
              document.title = 'Set new password - The Notetaker'
              if (parts.length === 2) this.resetCookie = parts.pop().split(';').shift()
              this.resetPassword = true
            } catch (ex) {
              this.$router.replace('/login')
            }
          }
        } else {
          document.title = 'Sign in - The Notetaker'
          this.forgotPasswordForm.content.email.value = ''
        }
      }
    },
    sendSms: async function () {
      const res = await axios.get('/login/requestsms', {
        headers: {
          'x-auth-token': this.twoFactorToken
        }
      })
      if (res && res.data) {
        this.twoFactorForm.error = false
        this.twoFactorForm.sent = true
        this.twoFactorForm.message = res.data
      } else {
        if (this.error) {
          this.twoFactorForm.error = true
          this.twoFactorForm.message = this.error.message
        }
      }
    },
    setForm (target, obj, setTouched = false) {
      setFields(target, obj, setTouched)
      // validate the whole form
      this.$set(obj, 'isValid', validateForm(obj.content))
    },
    setSignIn (mode) {
      this.signIn = mode
      if (mode) {
        this.$router.push('/login')
      } else {
        this.$router.push('/login#signup')
      }
    },
    submitForm: async function () {
      const formToSend = {}
      const headers = {}
      let path = '/login'
      let obj
      const vm = this
      if (this.signIn) {
        if (!this.twoFactorAuth && !this.forgotPassword && !this.resetPassword) {
          obj = this.signInForm
          if (this.trustedToken) headers['x-trusted'] = this.trustedToken
        } else if (!this.twoFactorAuth && this.forgotPassword) {
          obj = this.forgotPasswordForm
          path = '/users/resetpassword'
        } else if (!this.twoFactorAuth && !this.forgotPassword && this.resetPassword) {
          obj = this.resetForm
          path = '/users/newpassword'
          headers['x-reset-token'] = this.resetCookie
        } else {
          path += '/twofactorauth'
          obj = this.twoFactorForm
          headers['x-auth-token'] = this.twoFactorToken
        }
      } else {
        path = '/users'
        obj = this.signUpForm
      }
      if (!obj.isValid) return

      for (const key in obj.content) {
        if (obj.content[key].value) {
          formToSend[key] = obj.content[key].value
          if (obj.content[key].expand) formToSend[key] = formToSend[key].replace(/\s/g, '')
        }
      }
      if (obj.content.cellphone && obj.content.cellphone.extra.value) formToSend.countryCode = obj.content.cellphone.extra.value

      obj.message = ''
      obj.error = false

      const res = await axios.post(path, formToSend, {
        headers
      })
      if (res && res.data) {
        if (res.data.twoFactorAuth) {
          document.title = '2-Factor Authentication - The Notetaker'
          this.twoFactorToken = res.data.jwt
          this.twoFactorAuth = true
        } else if (res.data.auth) {
          if (res.data.trusted) localStorage.setItem('trusted', res.data.trusted)
          this.setAuth(true)
          const d = new Date()
          d.setTime(d.getTime() + 30 * 24 * 60 * 60 * 1000) // Signin cookie valid for 30 days
          const expires = 'expires=' + d.toUTCString()
          document.cookie = 'logintoken =' + res.data.jwt + ';' + expires + ';path=/'
          this.$router.replace('/')
          localStorage.removeItem('offline')
        } else if (typeof res.data === 'string') {
          obj.message = res.data
          obj.success = true
          setTimeout(() => {
            obj.message = ''
            vm.$router.replace('/login')
            obj.success = false
          }, 3400)
        } else {
          obj.success = true
          obj.message = 'The account with the email "' + res.data.email + '" was successfully registered!'
        }
        if (res.data.user) {
          this.setUser(res.data.user)
        }
      } else {
        if (this.error) {
          obj.message = this.error.message
          obj.error = true
          this.$set(obj, 'isValid', validateForm(obj.content)) // validate the form after failure since captcha refreshes after sending
          this.clearError()
        }
      }
    }
  },
  beforeDestroy () {
    this.clearError()
  },
  name: 'Login-View',
  props: {
    clearError: Function,
    error: [Boolean, Object],
    loading: Boolean,
    setAuth: Function,
    setLoading: Function,
    setUser: Function,
    trustedToken: [Boolean, String]
  },
  watch: {
    '$route.hash' () {
      this.hashChange()
    }
  },
  created () {
    this.hashChange()
  }
}
</script>

<style lang="scss">
.box {
  @extend %centeredBox;
  margin: 80px auto 90px auto;
  border-radius: 10px;
  background-color: $c1;
  .spinnerBox {
    @extend %deadCenterItems;
    height: 300px;
    overflow: hidden;
  }
  h1 {
    display: inline-block;
    margin: 25px 0;
    color: #333;
  }
  h1.centered {
    @extend %centeredText;
  }
  .captcha {
    margin-bottom: 20px;
  }
  .check {
    margin: 20px auto 0 auto;
    width: 100%;
    display: inline-block;
    .largeSuccess {
      @extend %centeredText;
      background-color: $w;
      border-radius: 50%;
      font-size: 100px;
      color: $theme-color;
    }
  }
  a {
    outline: 0;
  }
  .help {
    cursor: pointer;
    float: right;
  }
  .link {
    cursor: pointer;
    font-size: 13px;
    padding: 3px 0;
    @extend %centeredText;
    margin: auto auto 2px auto;
  }
  .top {
    top: 10px;
  }
  .expand-enter-active {
    animation: expandIn 0.5s ease-in-out forwards;
  }

  .expand-leave-active {
    animation: expandOut 0.5s ease-in-out forwards;
  }

  @keyframes expandIn {
    0% {
      height: 0;
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      height: 420px;
      opacity: 1;
    }
  }
  @keyframes expandOut {
    0% {
      height: 420px;
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
}
</style>
