<template>
    <div class="notFound">
        <h1>404 Not Found</h1>
    </div>
</template>

<script>
export default {
  created () {
    document.title = '404 Not Found - The Notetaker'
    setTimeout(() => this.$router.replace('/'), 3000)
  },
  name: 'Not-Found-View'
}
</script>

<style lang="scss" scoped>
    .notFound {
        background-color: $theme-color;
        height: calc(100vh - 70px);
        overflow: hidden;
        @extend %deadCenterItems;
        h1 {
            color: #fff;
            font-size: 50px;
            transform: translateY(-40px);
            text-shadow: 2px 2px rgb(61, 152, 134);
        }
    }
</style>
