<template>
  <div class="fullWidthContainer main" :class="{locked: prompt}">
    <modal v-if="prompt" :error="error" :message="promptContent">
      <template v-if="!error" v-slot:confirm>
        <p>Type "delete" to continue</p>
        <div class="modalInput">
          <input type="text" v-model="del" maxlength="20">
        </div>
      </template>
      <template v-if="error">
        <button class="danger" @click="closePrompt">Okay</button>
      </template>
      <template v-else>
        <button class="danger" :disabled="del.toLowerCase() != 'delete'" @click="deleteAccount">Okay</button>
        <button class="success" @click="closePrompt">Cancel</button>
      </template>
    </modal>
    <div class="box">
      <form @submit.prevent="saveSettings">
        <h1>Settings</h1>
        <div v-for="formEl in settings.content" :key="formEl.id">
          <form-input
            v-if="!formEl.doNotRender && !formEl.neverRender"
            :formKeys="formEl"
            :isDisabled="redirecting"
            @changed="inputChanged($event, settings)"
            @blurred="inputBlurred($event, settings)"
            @changeCountry="changeCountrySet"
          />
        </div>
        <form-status :form="settings"/>
        <div class="buttonHolder small constant">
          <router-link to="/" type="button" tag="button">Cancel</router-link>
          <button
          type="submit"
          :disabled="!settings.isValid || !isChanged || redirecting"
          :title="!isChanged && settings.isValid ? 'No changes have been made' : null">
            Save
          </button>
        </div>
        <hr>
        <div class="buttonHolder small centered">
          <button type="button" class="danger" @click="deleteAccountPrompt" :disabled="redirecting">Delete account</button>
        </div>
      </form>
    </div>
    <bgcredit/>
  </div>
</template>

<script>
import axios from '../shared/axios-instance'
import { cellphone, desc, pW, twoFA } from '../shared/constants'
import {
  checkValid,
  setFields,
  splitNumber,
  validateForm
} from '../shared/utility'
import FormStatus from '../components/formStatus/FormStatus.vue'
import Input from '../components/input/Input.vue'
import LoginButton from '../components/loginButton/LoginButton.vue'

class Password {

  config = {
    category: 'input',
    type: 'password',
    placeholder: '5-25 characters'
  }
  value = ''
  touched = false

  constructor (
    regex = false,
    desc = null,
    isNew = false,
    isCurrent = false,
    isRequired = true,
    setRequired = false
  ) {
    this.validation = {
      required: isRequired,
      minLength: 5,
      maxLength: 25,
      regex
    }
    if (setRequired) {
      this.setRequired = {
        target: 'repeatPassword'
      }
    }
    if (isNew) {
      this.title = 'New password'
      this.id = 'password' // must be same as key name
    } else if (isCurrent && !isNew) {
      this.title = 'Current password'
      this.id = 'currentPassword' // must be same as key name
    } else {
      this.title = 'Password'
      this.id = 'password' // must be same as key name
    }
    this.desc = desc
    this.valid = !isRequired
  }
}

class RepeatPassword {

  config = {
    category: 'input',
    type: 'password',
    placeholder: 'Passwords must match'
  }

  id = 'repeatPassword' // must be same as key name
  value = ''
  desc = 'The passwords do not match'

  constructor (isNew = false, isRequired = true) {
    this.touched = false,
    this.valid = !isRequired,
    this.validation = {
      required: isRequired,
      mustMatch: true
    }
    if (isNew) {
      this.title = 'Repeat new password'
    } else {
      this.title = 'Repeat password'
    }
  }
}
export default {
  components: {
    'form-input': Input,
    'form-status': FormStatus,
    loginbutton: LoginButton
  },
  data () {
    return {
      del: '',
      isChanged: false,
      prompt: false,
      promptContent: false,
      redirecting: false,
      settings: {
        content: {
          currentPassword: new Password(false, false, false, true),
          password: new Password(pW, desc, true, false, false, true),
          repeatPassword: new RepeatPassword(true, false),
          twoFactorAuth: { ...twoFA },
          cellphone: {
            ...cellphone,
            default: true
          },
          migrate: {
            config: {
              category: 'select',
              options: [
                {
                  id: 'no',
                  value: 0,
                  name: 'Always ignore'
                },
                {
                  id: 'ask',
                  value: 1,
                  name: 'Always ask'
                },
                {
                  id: 'yes',
                  value: 2,
                  name: 'Always import'
                }
              ]
            },
            title: 'Import local notes at startup',
            value: 1,
            id: 'migrate', // must be same as key
            valid: true,
            touched: true // only there to make validation seamless
          }
        },
        isValid: false,
        message: '',
        error: false
      }
    }
  },
  methods: {
    changeCountrySet (e) {
      this.$set(this.settings.content.cellphone.extra, 'value', e.iso2)
      this.checkChanged()
    },
    checkChanged () {
      const obj = this.settings.content
      if (obj.password.value || obj.repeatPassword.value) return true

      const localObj = {
        twoFactorAuth: obj.twoFactorAuth.value,
        cellphone: obj.cellphone.value.replace(/\s/g, ''),
        countryCode: obj.cellphone.extra.value,
        migrate: +obj.migrate.value
      }

      const onlineObj = {
        twoFactorAuth: this.user.twoFactorAuth ? this.user.twoFactorAuth.active : false,
        cellphone: this.user.twoFactorAuth ? this.user.twoFactorAuth.cellphone : '',
        countryCode: this.user.twoFactorAuth ? this.user.twoFactorAuth.countryCode : '',
        migrate: +this.user.migrate
      }

      for (const key in localObj) {
        if (localObj[key] !== onlineObj[key]) return true
      }

      return false
    },
    closePrompt () {
      this.prompt = false
      this.del = ''
      if (this.error) this.clearError()
    },
    // catches the event from the delete account button and passes it on to parent component
    deleteAccount () {
      this.sendDeleteAccountRequest()
    },
    deleteAccountPrompt () {
      this.prompt = true
      this.promptContent =
        'Are you sure? This will also delete all your notes bound to this account. This action is irreversible.'
    },
    inputBlurred (target, obj) {
      this.setForm(target, obj, true)
    },
    inputChanged (target, obj) {
      this.setForm(target, obj)
      if (obj.content[target.id].setRequired) {
        const t = obj.content[target.id].setRequired.target
        if (target.value) {
          obj.content[t].validation.required = true
        } else {
          obj.content[t].validation.required = false
        }
        obj.content[t].valid = checkValid(
          obj.content[t].value,
          obj.content[t].validation,
          obj.content
        )
      }
      this.isChanged = this.checkChanged()
    },
    saveSettings: async function () {
      const obj = {}
      if (!this.settings.isValid) return

      for (const key in this.settings.content) {
        if (this.settings.content[key].value) {
          obj[key] = this.settings.content[key].value
          if (this.settings.content[key].expand) { obj[key] = obj[key].replace(/\s/g, '') }
        }
      }

      if (
        this.settings.content.cellphone &&
        this.settings.content.cellphone.extra.value
      ) { obj.countryCode = this.settings.content.cellphone.extra.value }

      this.settings.message = ''
      this.settings.error = false

      const res = await axios.put('/users', obj, {
        headers: {
          'x-auth-token': this.authToken
        }
      })

      if (res && res.data) {
        this.settings.message = res.data.msg
        if (res.data.token) {
          const d = new Date()
          d.setTime(d.getTime() + 30 * 24 * 60 * 60 * 1000) // Signin cookie valid for 30 days
          const expires = 'expires=' + d.toUTCString()
          document.cookie = 'logintoken =' + res.data.token + ';' + expires + ';path=/'
          this.setAuthToken(res.data.token)
        }
        this.setUser(res.data.data)
        this.redirecting = true

        const vm = this
        setTimeout(() => vm.$router.push('/'), 3000)
      } else {
        if (this.error) {
          this.settings.message = this.error.message
          this.settings.error = true
          this.$set(
            this.settings,
            'isValid',
            validateForm(this.settings.content)
          )
        }
      }
    },
    setForm (target, obj, setTouched = false) {
      setFields(target, obj, setTouched)
      // validate the whole form
      this.$set(obj, 'isValid', validateForm(obj.content))
    }
  },
  name: 'Settings-View',
  props: {
    authToken: [Boolean, String],
    clearError: Function,
    error: [Boolean, Object],
    sendDeleteAccountRequest: Function,
    setAuthToken: Function,
    setUser: Function,
    user: [Boolean, Object]
  },
  watch: {
    error () {
      if (this.error) {
        this.prompt = true
        this.promptContent = this.error.message
      } else {
        this.prompt = false
      }
    }
  },
  created () {
    const obj = this.settings.content
    obj.migrate.value = this.user.migrate

    if (this.user.twoFactorAuth) {
      if (this.user.twoFactorAuth.cellphone) {
        obj.cellphone.value = splitNumber(
          this.user.twoFactorAuth.cellphone,
          obj.cellphone
        )
        obj.cellphone.extra.value = this.user.twoFactorAuth.countryCode
      }
      if (this.user.twoFactorAuth.active) {
        obj.twoFactorAuth.value = true
        obj.cellphone.doNotRender = false
        obj.cellphone.validation.valid = checkValid(
          obj.cellphone.value,
          obj.cellphone.validation
        )
      }
    }
  },
  beforeDestroy () {
    this.clearError()
  }
}
</script>
