<template>
  <div class="fullWidthContainer main">
    <br>
    <h1 class="headline adjusted">Welcome! Please choose a mode.</h1>
    <div class="boxHolder">
      <splashbox :h3title="'Without account'" :wider="true">
        <ul>
          <li>Write and store notes locally on your machine</li>
          <li>Not accessible to other computers</li>
        </ul>
        <button @click="offline">Start writing...</button>
      </splashbox>
      <splashbox :h3title="'Signed in'">
        <ul>
          <li>Write and store notes, access from everywhere</li>
          <li>2-Factor Authentication available</li>
        </ul>
        <router-link to="/login" tag="button">Sign in</router-link>
      </splashbox>
    </div>
    <br>
    <bgcredit/>
  </div>
</template>

<script>
import SplashBox from '../components/splashbox/SplashBox.vue'
export default {
  components: {
    splashbox: SplashBox
  },
  props: {
    clearError: Function,
    setOffline: Function
  },
  methods: {
    offline () {
      localStorage.setItem('offline', 'true')
      this.setOffline(true)
      this.$router.push('/')
    }
  },
  name: 'Splash-View',
  beforeDestroy () {
    this.clearError()
  }
}
</script>

<style lang="scss" scoped>
.boxHolder {
  margin: 80px auto;
  width: 890px;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 900px){
  .boxHolder {
    display: block;
    width: 90%;
  }
}
</style>
