<template>
  <div>
    <modal v-if="prompt" :error="error" :message="promptContent" :class="{locked: prompt}">
      <template v-if="error">
        <button class="danger" @click="closePrompt">Okay</button>
      </template>
      <template v-else>
        <button class="danger" @click="deleteObjs">Delete</button>
        <button class="success" @click="closePrompt">Cancel</button>
      </template>
    </modal>
    <topbar>
      <div class="headLineContainer">
        <h1>{{note ? note.title : ""}}</h1>
      </div>
      <div class="buttonContainerRight">
        <router-link to="/" tag="button" title="Back" class="ui-button">
          <a>Back</a>
        </router-link>
        <router-link class="ui-button" :to="'/edit?objectid=' + id" tag="button" title="Edit">
          <a>
            <font-awesome-icon icon="edit"/>
          </a>
        </router-link>
        <button class="ui-button" title="Delete" @click="deleteOne">
          <font-awesome-icon icon="trash"/>
        </button>
      </div>
    </topbar>
    <div class="standardWidth main view">
      <p>{{note ? note.content : ""}}</p>
      <h2>Created on: {{note ? note.date : "" | dateFilter}}</h2>
      <h2>Last edited: {{note ? note.edited : "" | dateFilter}}</h2>
    </div>
  </div>
</template>

<script>
import TopBar from '../components/topbarInner/TopbarInner.vue'
import { dateFilter, deletePromptGenerator } from '../shared/utility'

export default {
  data () {
    return {
      id: this.$route.query.objectid,
      note: this.notes.find(n => n._id === this.$route.query.objectid) || "",
      prompt: false,
      promptContent: null
    }
  },
  components: {
    topbar: TopBar
  },
  filters: {
    dateFilter
  },
  methods: {
    closePrompt () {
      this.prompt = false
      this.clearMarked()
      if (this.error) this.clearError()
    },
    deleteOne () {
      this.prompt = true
      const display = this.toDisplay[
        this.toDisplay.findIndex(n => n._id === this.note._id)
      ]
      this.deleteOneObj(display)
      this.promptContent = deletePromptGenerator(this.note, this.toDisplay, 1)
    },
    deleteObjs: async function () {
      this.prompt = false
      const success = await this.deleteAll()
      if (success) this.$router.replace('/')
    }
  },
  name: 'View-View',
  props: {
    clearError: Function,
    clearMarked: Function,
    deleteAll: Function,
    deleteOneObj: Function,
    error: [Object, Boolean],
    isAuth: Boolean,
    offline: Boolean,
    notes: Array,
    toDisplay: Array,
    triedLoad: Boolean
  },
  watch: {
    error: {
      immediate: true,
      deep: true,
      handler (newValue, oldValue) {
        if (newValue && newValue.message) {
          this.prompt = true
          this.promptContent = newValue.message
        } else {
          this.prompt = false
        }
      }
    },
    notes: {
      immediate: true,
      deep: true,
      handler () {
        if ((this.triedLoad && this.$route.query && this.$route.query.objectid) || (
          this.offline && this.$route.query && this.$route.query.objectid
        )) {
          this.note = this.notes.find(n => n._id === this.$route.query.objectid)
          if (!this.note) {
            this.$router.replace('/404')
          }
          else {
            document.title = this.note.title + ' - The Notetaker'
          }
        }
      }
    }
  },
  beforeDestroy () {
    this.clearMarked()
    this.clearError()
  }
}
</script>

<style lang="scss">
h1 {
  @extend %basetextAlignment;
  margin: 10px 0 5px 2px;
  font-size: 30px;
}
.headLineContainer {
  height: 100%;
  width: calc(100% - 180px);
  display: inline-block;
  overflow-y: auto;
}
.view {
  position: relative;
  top: 55px;
  background-color: #eee;

  p {
    @extend %basetextAlignment;
  }

  h2 {
    @extend %basetextAlignment;
    display: block;
  }
}
@media all and (max-width: 1200px) {
  .view {
    h1 {
      font-size: 24px;
      margin-top: 14px;
    }
  }
}
</style>
