<template>
  <div class="backdrop">
    <div class="modal" :class="{error: error}">
      <h3 class="headline"><font-awesome-icon icon="exclamation-triangle"/> {{error ? 'Error' : 'Warning'}}</h3>
      <p>{{message}}{{error.items ? ';' : ''}}</p>
      <ul v-if="error.items && error.items.length > 0">
        <li v-for="(item,i) in error.items" :key="item + '-' + i">{{'"' + item + '"'}}</li>
      </ul>
      <slot name="confirm"/>
      <div class="buttons">
        <slot/>
      </div>
      <slot name="checkbox"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal-Component',
  props: {
    message: String,
    error: [Object, Boolean]
  }
}
</script>

<style lang="scss" scoped>
.backdrop {
    width: 100%;
    height: 100%;
    z-index: 50;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    .modal {
        border: 2px solid $theme-color;
        width: 300px;
        display: inline-table;
        margin-top: calc(50vh - 170px);
        background-color: $w;
        .headline {
            margin: 0;
            height: 40px;
            width: 100%;
            padding: 8px 10px;
            box-sizing: border-box;
            background-color: $theme-color;
            vertical-align: center;
        }
        p {
            padding: 0 10px;
            box-sizing: border-box;
        }

        ul {
          max-height: 60px;
          overflow-y: auto;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          margin: 30px auto 10px auto;
          width: 280px;
          button {
            width: 120px;
            padding: 10px 0;
          }
        }
        .modalInput {
          width: 90%;
          margin: auto;
          display: block;
          input {
            padding: 6px 10px;
            width: 100%;
            box-sizing: border-box;
          }
        }
    }
    .error {
      border: 2px solid $dangerLight;
      .headline {
        background-color: $dangerLight;
      }
      .buttons {
        justify-content: center;
      }
    }
}
</style>
