<template>
    <p v-if="form.message" :class="{noTransform: noTransform, confirm: !form.error}">
        <font-awesome-icon icon="exclamation-triangle" v-if="form.error"/>
        <font-awesome-icon icon="check-circle" v-else/>
    {{form.message}}</p>
</template>

<script>
export default {
  name: 'FormStatus-Component',
  props: {
    form: Object,
    noTransform: Boolean
  }
}
</script>

<style lang="scss" scoped>
    p {
        color: #990000;
        font-weight: bold;
        margin: 0;
        font-size: 13.5px;
        transform: translateY(-13px)
    }
    .confirm {
        color: #0f693c;
    }
    .noTransform {
        transform: none
    }
</style>
