<template>
    <div class="buttonHolder centered small">
        <button :disabled="isDisabled" class="login" @click="clicked" :type="noSubmit ? 'button' : 'submit'">{{text}}</button>
    </div>
</template>

<script>
export default {
  methods: {
    clicked (e) {
      this.$emit('clicked', e)
    }
  },
  name: 'LoginButton-Component',
  props: {
    isDisabled: Boolean,
    noSubmit: Boolean,
    text: String
  }
}
</script>
