<template>
  <header>
    <router-link to="/" tag="h1" class="logo" title="Click to refresh">
      <a>The Notetaker</a>
    </router-link>
    <router-link to="/login" v-if="!isAuth && routeName !== 'Login' && routeName !== 'Splash' ">
      <h2 class="userLined">Sign in</h2>
    </router-link>
    <a
      class="userLined userIcon"
      @click.stop="toggleUserMenu"
      :class="{enabled: userMenuOpen}"
      v-if="isAuth"
    >
      <font-awesome-icon icon="user"/>
    </a>
    <div class="userMenu" :class="{active: userMenuOpen}" v-if="isAuth">
      <ul>
        <li :class="{disabled: !differentLocal}" @click="differentLocal ? migrateNotes() : null">
          Migrate local notes
          <font-awesome-icon icon="file-upload"/>
        </li>
        <li class="changeDetails" @click="change">
          Settings
          <font-awesome-icon icon="user-edit"/>
        </li>
        <li class="logout" @click="logout">
          Logout
          <font-awesome-icon icon="sign-out-alt"/>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
export default {
  data () {
    return {
      routeName: this.$route.name
    }
  },
  methods: {
    change () {
      this.$router.push('/edituser')
    }
  },
  name: 'Header-Component',
  props: {
    differentLocal: Boolean,
    isAuth: Boolean,
    logout: Function,
    migrateNotes: Function,
    toggleUserMenu: Function,
    userMenuOpen: Boolean
  },
  watch: {
    '$route.name' () {
      this.routeName = this.$route.name
    }
  }
}
</script>

<style lang="scss" scoped>

header {
  background-color: $theme-color;
  height: $headerHeight;
  .logo {
    display: inline-table;
    margin-left: calc(15% - 5px);
    margin-top: 16px;
    font-family: "Dancing Script", Helvetica, sans-serif;
    a {
      color: $dg;
    }
  }

  .userIcon {
    font-size: 32px;
  }

  .userLined {
    color: $dg;
    float: right;
    margin-right: 15px;
    margin-top: 13px;
    cursor: pointer;
    position: relative;
  }
  .userLined:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: transparent;
    background-color: $dg;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  .userLined:hover:before,
  .userLined.enabled:before {
    visibility: visible;
    transform: scaleX(1);
  }
  .userMenu {
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    top: $headerHeight;
    background-color: $w;
    overflow: hidden;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        cursor: pointer;
        padding: 8px 10px;
      }

      li:hover,
      li:focus {
        background-color: $lw;
      }
      li.disabled {
        background-color: inherit;
        color: #777;
        cursor: not-allowed;
      }
      a {
        color: $b;
      }
    }
  }
  .active {
    display: inline-block;
  }
}
@media all and (max-width: 1200px) {
  header {
    .logo {
      margin-left: 5px;
    }
  }
}
</style>
