<template>
    <div class="topBar" :class="{expand: expand}">
        <slot/>
    </div>
</template>

<script>
export default {
  props: {
    expand: Boolean
  }
}
</script>

<style lang="scss">
    .topBar {
        height: 55px;
        width: 70%;
        z-index: 4;
        margin-left: 15%;
        position: fixed;
        background-color: #acacac;
        overflow: hidden;
        transition: height 0.4s ease;
        .buttonContainerRight {
            position: relative;
            float: right;
        }
    }
    @media all and (max-width: 1200px){
        .topBar {
            width: 100%;
            margin-left: 0;
        }
    }
    @media all and (max-width: 650px) {
        .topBar.expand {
            height: 100px;
        }
    }
</style>
