<template>
    <div class="selectBox" @click="!isDisabled ? toggle($event) : null" :id="passedId" :class="{disabled: isDisabled}">
        <div class="checkmark" v-if="checked"></div>
    </div>
</template>

<script>
export default {
  methods: {
    toggle (e) {
      e.target.value = !this.checked
      this.$emit('toggle', e)
    }
  },
  name: 'Checkbox-Component',
  props: {
    checked: Boolean,
    isDisabled: Boolean,
    passedId: String
  }
}
</script>

<style lang="scss" scoped>
    $checkColor: #071;
    .selectBox {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-color: $w;
        .checkmark {
            width: 7px;
            pointer-events: none;
            background-color: $checkColor;
            height: 30px;
            margin-left: 13px;
            transform-origin: center center;
            transform: rotate(45deg);
        }
        .checkmark:after {
            content: "";
            width: 100%;
            height: 40%;
            background-color: $checkColor;
            transform: rotate(90deg) translate(21px, 5px);
            display: block;
        }
    }
    .disabled {
        background-color: $lw;
        .checkmark:after {
            background-color: rgb(91, 111, 94)
        }
    }
</style>
