<template>
  <div id="app" @click="closeMenu" :class="{notLoaded: !authLoaded || deletingAccount }">
    <app-header
      :differentLocal="differentLocal"
      :isAuth="isAuth"
      :logout="logout"
      :migrateNotes="migrateNotes"
      :toggleUserMenu="toggleMenu"
      :userMenuOpen="menuOpen"
    />
    <statusbar :status="status" />
    <router-view
      :authToken="authToken"
      :changeSearchField="changeSearchField"
      :checkForLocal="checkForLocal"
      :checkLength="checkLength"
      :checkedForLocal="checkedForLocal"
      :clearError="clearError"
      :clearMarked="clearMarked"
      :clearNotes="clearNotes"
      :deleteAll="deleteAll"
      :deleteOneObj="deleteOneObj"
      :deleteNumber="deleteNumber"
      :error="error"
      :grid="gridView"
      :isAuth="isAuth"
      :loading="loading"
      :loadNotes="loadNotes"
      :local="local"
      :migrateNotes="migrateNotes"
      :notes="notes"
      :offline="offline"
      :search="search"
      :searchItems="searchItems"
      :selectAll="selectAll"
      :selected="selected"
      :sendDeleteAccountRequest="sendDeleteAccountRequest"
      :setAuth="setAuth"
      :setAuthToken="setAuthToken"
      :setCheckedLocal="setCheckedLocal"
      :setGrid="setGridMode"
      :setLocalExist="setLocalExist"
      :setMigrate="setMigrate"
      :setOffline="setOffline"
      :setUser="setUser"
      :showNew="showNew"
      :sortItems="sortItems"
      :sortUp="sortUp"
      :spliceItem="spliceItem"
      :toDisplay="toDisplay"
      :toggleOrder="toggleOrder"
      :triedLoad="triedLoad"
      :trustedToken="trustedToken"
      :updateUI="updateUI"
      :uploadNote="uploadNote"
      :user="user"
    />
    <div v-if="!authLoaded || deletingAccount" class="spinnerHolder">
      <loader :color="'green'" />
    </div>
  </div>
</template>

<script>
import axios from './shared/axios-instance'
import { checkValid } from './shared/utility'
import Header from './components/header/Header.vue'
import { ObjectId } from './shared/Objectid'
import { setTimeout } from 'timers'
import StatusBar from './components/statusBar/StatusBar.vue'
export default {
  data () {
    return {
      authToken: false,
      authLoaded: false,
      checkedForLocal: false,
      deletingAccount: false,
      differentLocal: false,
      deleteNumber: 0,
      error: false,
      gridView: true,
      ignoreError: false,
      isAuth: false,
      loading: false,
      local: [],
      menuOpen: false,
      notes: [],
      offline: false,
      offlineLoaded: false,
      search: '',
      selected: 'title',
      showNew: true,
      sortUp: true,
      status: {
        active: false,
        message: 'Account deleted',
        error: false
      },
      toDisplay: [],
      triedLoad: false,
      trustedToken: false,
      user: false,
      validation: {
        title: {
          required: true,
          minLength: 2,
          maxLength: 100,
          regex: /^[^\\/:\*\?"<>\|]+$/
        },
        tags: {
          required: true,
          isArray: true,
          maxLength: 5,
          unique: true,
          rules: {
            regex: /^([A-Za-z0-9\s]*)$/,
            minLength: 2,
            maxLength: 40,
            partOfArray: true
          }
        },
        content: {
          required: true,
          minLength: 1,
          maxLength: 10000
        },
        date: {
          required: true,
          isDate: true
        },
        edited: {
          required: true,
          isDate: true
        }
      }
    }
  },
  components: {
    'app-header': Header,
    statusbar: StatusBar
  },
  computed: {
    header () {
      return {
        headers: {
          'x-auth-token': this.authToken
        }
      }
    }
  },
  watch: {
    isAuth: async function () {
      if (this.isAuth) {
        this.getAuthCookie()
        this.triedLoad = false
        this.offline = false
        this.local = [...this.notes]
        this.ignoreError = false
        const res = await axios.get('/notes', this.header)
        if (res && res.data) {
          this.notes = res.data
          this.triedLoad = true
        } else {
          this.notes = []
          this.triedLoad = true
        }
        this.updateUI()
      } else {
        this.notes = []
        this.loadNotes()
        this.checkedForLocal = false
      }
    },
    sortUp () {
      this.sortItems(this.selected)
    },
    status: {
      deep: true,
      immediate: true,
      handler (newValue) {
        if (newValue.active) {
          const vm = this
          setTimeout(() => {
            vm.status = {
              ...vm.status,
              active: false
            }
          }, 3000)
        }
      }
    }
  },
  methods: {
    autoLogin () {
      const vm = this
      return new Promise(async (resolve) => {
        if (!vm.authToken) {
          return resolve(false)
        }
        vm.ignoreError = true
        const response = await axios.get('/login', this.header)
        if (response && response.data) {
          vm.user = response.data
          vm.ignoreError = false
          return resolve(true)
        } else {
          return resolve(false)
        }
      })
    },
    changeSearchField (e) {
      this.search = e.target.value
    },
    checkForLocal () {
      let found = false
      for (const key of this.local) {
        const l = this.notes.find(
          n => n.title === key.title && n.content === key.content
        )
        if (!l) {
          key.notOnline = true
          found = true
        }
      }
      return found
    },
    checkLength () {
      let n = 0
      for (const key of this.toDisplay) {
        if (key.markedForDeletion) n++
      }

      this.deleteNumber = n
    },
    clearError () {
      this.error = false
    },
    clearMarked () {
      for (let i = 0; i < this.toDisplay.length; i++) {
        if (this.toDisplay[i].markedForDeletion) { this.$set(this.toDisplay[i], 'markedForDeletion', false) }
      }
    },
    clearNotes () {
      this.notes = []
    },
    closeMenu () {
      this.menuOpen = false
    },
    // deletes all items marked for deletion
    deleteAll () {
      const vm = this
      return new Promise(async (resolve) => {
        const arrayLength = vm.toDisplay.length - 1
        let success = true
        const onlineDelete = []
        for (let i = arrayLength; i >= 0; i--) {
          if (vm.toDisplay[i].markedForDeletion) {
            if (vm.isAuth) {
              onlineDelete.push(vm.toDisplay[i]._id)
            } else {
              try {
                localStorage.removeItem(vm.toDisplay[i]._id)
              } catch (ex) {
                success = false
                if (!vm.error || !Object.prototype.hasOwnProperty.call(vm.error, 'items')) {
                  vm.error = {
                    message:
                      'The following item(s) could not be removed. Reason: Items do not exist',
                    items: []
                  }
                }
                vm.error.items.push(vm.toDisplay[i].title)
              }
            }
            if (vm.isAuth) {
              const res = await axios.post(
                '/notes/delete',
                { notes: onlineDelete },
                vm.header
              )
              if (!res && !res.data) return resolve(false)
            }
            const j = vm.notes.findIndex(n => n._id === vm.toDisplay[i]._id)
            this.notes.splice(j, 1)
          }
        }
        vm.updateUI()
        vm.status = {
          ...vm.status,
          message:
            vm.deleteNumber +
            ' item' +
            (vm.deleteNumber > 1 ? 's' : '') +
            ' deleted',
          active: true
        }
        return resolve(success)
      })
    },
    deleteOneObj (obj) {
      this.$set(obj, 'markedForDeletion', true)
      this.checkLength()
    },
    getAuthCookie () {
      if (document.cookie) {
        const cookie = document.cookie
        if (cookie.indexOf('logintoken') > -1) {
          const value = '; ' + cookie
          const parts = value.split('; logintoken=')
          if (parts.length === 2) {
            this.authToken = parts
              .pop()
              .split(';')
              .shift()
          }
        }
      }
      if (localStorage.getItem('trusted')) {
        this.trustedToken = localStorage.getItem('trusted')
      }
    },
    loadNotes () {
      const items = Object.keys({ ...localStorage })
        .filter(i => i.indexOf('mongo') === -1)
        .filter(i => i.indexOf('webpack') === -1)
        .filter(i => i.indexOf('offline') === -1)
        .filter(i => i.indexOf('trusted') === -1)
      const storageArray = []

      for (const i of items) {
        storageArray.push(localStorage.getItem(i))
      }
      for (let i = 0; i < storageArray.length; i++) {
        try {
          const converted = JSON.parse(storageArray[i])
          let isValid = true
          for (const key in this.validation) {
            isValid =
              isValid &&
              converted[key] &&
              checkValid(converted[key], this.validation[key], {
                items: converted[key]
              })
          }

          if (!isValid) throw new Error('Loading failure')

          converted.markedForDeletion = false

          if (converted._id !== items[i]) {
            converted._id = items[i]
            localStorage.setItem(items[i], JSON.stringify(converted))
          }
          this.notes.push(converted)
        } catch (ex) {
          if (!this.error || !Object.prototype.hasOwnProperty.call(this.error, 'items')) {
            this.error = {
              message:
                'The following items could not be loaded. Please check formatting',
              items: []
            }
          }
          this.error.items.push(items[i])
        }
      }
    },
    logout () {
      this.isAuth = false
      this.user = false
      this.authToken = false
      document.cookie =
        'logintoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
      this.$router.push('/splash')
    },
    // migrate local notes to server
    migrateNotes: async function () {
      const toSend = []
      for (const key of this.local) {
        if (key.notOnline) {
          toSend.push({
            _id: key._id,
            title: key.title,
            tags: key.tags,
            content: key.content,
            date: key.date,
            edited: key.edited
          })
        }
      }
      const res = await axios.post(
        '/notes/row',
        {
          notes: toSend
        },
        this.header
      )
      if (res && res.data) {
        this.notes = [...this.notes, ...res.data]
        this.updateUI()
        this.status = {
          ...this.status,
          active: true,
          message:
            toSend.length + ' item' + (toSend.length > 1 ? 's' : '') + ' added'
        }
        this.differentLocal = false
      }
    },
    // search items. Assigns a search score to every element based on matches in every field. Elements with 0 + searchstring length/4 are not displayed.
    searchItems () {
      const matches = this.search.match(new RegExp('"', 'gi'))
      if (
        (this.search.replace(/[^a-zA-Z0-9\/\"]/g, '') &&
          matches &&
          matches.length >= 2) ||
        this.search.replace(/[^a-zA-Z0-9]/g, '')
      ) {
        let searchString = this.search.trim().split(' ')

        // search string is normally split word for word
        // Quote marks allows searching for whole strings. Code block
        // below handles that functionality

        if (matches && matches.length >= 2) {
          const indexes = []
          const splittedString = this.search.split('')
          for (let j = 0; j < splittedString.length; j++) {
            if (splittedString[j] === '"') {
              indexes.push(j)
            }
          }
          if (indexes.length % 2 !== 0) {
            indexes.splice(indexes.length - 1, 1)
          }
          for (let z = 1; z < indexes.length; z += 2) {
            for (let j = indexes[z - 1]; j <= indexes[z]; j++) {
              if (splittedString[j] === ' ') splittedString[j] = '-'
              if (splittedString[j] === '"') splittedString[j] = ''
            }
          }
          searchString = splittedString.join('').split(' ')
        }
        // cleanup of search string
        for (let r = 0; r < searchString.length; r++) {
          searchString[r] = searchString[r]
            .replace(/[\-]/g, ' ')
            .replace(/[^A-Za-z0-9\s]/g, '')
        }

        for (const note of this.notes) {
          note.searchScore = 0
        }

        let i = 0

        do {
          let reg
          if (Array.isArray(searchString)) {
            reg = new RegExp(searchString[i], 'gi')
          } else {
            reg = new RegExp(searchString, 'gi')
          }
          for (const note of this.notes) {
            const countTitle = (note.title.match(reg) || []).length
            note.searchScore += countTitle

            let countTags = 0

            for (const tag of note.tags) {
              const tagLength = (tag.match(reg) || []).length
              countTags += tagLength
            }

            note.searchScore += countTags * 0.5

            const countContent = (note.content.match(reg) || []).length

            note.searchScore += countContent * 0.3
          }
          i++
        } while (!Array.isArray(searchString) && i < searchString.length)
        this.toDisplay = this.notes.filter(
          f => f.searchScore > 0 + searchString.length / 4
        )
        this.showNew = false
        this.sortUp = false
        this.sortItems('relevance')
      } else {
        this.updateUI()
      }
    },
    // select all items for deletion
    selectAll () {
      for (const key of this.toDisplay) {
        key.markedForDeletion = true
      }
      this.checkLength()
    },
    // sends a request to delete the account
    sendDeleteAccountRequest: async function () {
      this.deletingAccount = true
      const res = await axios.delete('/users', this.header)

      if (res && res.data) {
        this.logout()
        this.deletingAccount = false
        if (localStorage.getItem('trusted')) localStorage.removeItem('trusted')
        this.status = {
          ...this.status,
          active: true,
          message: 'Account successfully deleted'
        }
      } else {
        this.deletingAccount = false
      }
    },
    // set isAuth (most useful in child comps)
    setAuth (mode) {
      this.isAuth = mode
    },
    setAuthLoaded () {
      this.authLoaded = true
    },
    // sets authToken property from child module
    setAuthToken (token) {
      this.authToken = token
    },
    // sets checkedLocal to true/false
    setCheckedLocal (mode) {
      this.checkedForLocal = mode
    },
    // toggle grid/list view
    setGridMode (mode) {
      this.gridView = mode
    },
    setLocalExist (mode) {
      this.differentLocal = mode
    },
    // set whether to auto-migrate local storage notes, or ignore them on startup
    setMigrate: async function (mode) {
      let n = 0
      if (mode) n = 2
      const res = await axios.put(
        '/users/savemigrate',
        { migrate: n },
        this.header
      )
      if (res && res.data) this.user.migrate = res.data
    },
    // sets local editing to true/false
    setOffline (mode) {
      this.offline = mode
      this.offlineLoaded = true
    },
    // sets user from child module
    setUser (user) {
      this.user = user
    },
    // sort the notes on the homepage
    sortItems (value = this.selected) {
      this.selected = value

      this.toDisplay.sort((a, b) => {
        // sort by title
        if (this.selected === 'title') {
          const titleA = a.title.toLowerCase()
          const titleB = b.title.toLowerCase()
          if (
            (titleA < titleB && this.sortUp) ||
            (titleA > titleB && !this.sortUp)
          ) { return -1 }
          if (
            (titleA > titleB && this.sortUp) ||
            (titleA < titleB && !this.sortUp)
          ) { return 1 }
          return 0 // default return value (no sorting)
        }
        // sort by relevance (only works by searching)
        else if (this.selected === 'relevance') {
          if (this.sortUp) {
            return a.searchScore - b.searchScore // sort by relevance ascending
          } else {
            return b.searchScore - a.searchScore // sort by relevance descending
          }
        }
        // sort by creation or last edited date
        else {
          const dateA = new Date(a[this.selected])
          const dateB = new Date(b[this.selected])
          if (this.sortUp) {
            return dateA - dateB // sort by date ascending
          } else {
            return dateB - dateA // sort by date descending
          }
        }
      })
    },
    // remove an item from the notes array
    spliceItem (i, indexProvided = false) {
      if (!indexProvided) {
        const j = this.notes.findIndex(n => n._id === this.toDisplay[i]._id)
        this.notes.splice(j, 1)
      } else {
        this.notes.splice(i, 1)
      }
    },
    // toggle the user menu
    toggleMenu () {
      this.menuOpen = !this.menuOpen
    },
    // toggle home page display order asc/des
    toggleOrder () {
      this.sortUp = !this.sortUp
    },
    // update the listed notes on the homepages
    updateUI (forceBypass = false, forceUpdate = false) {
      if ((!this.search && !forceBypass) || forceUpdate) {
        this.toDisplay = [...this.notes]
        this.search = ''
        this.showNew = true
        this.sortItems('title')
      }
    },
    uploadNote: async function (note, exists) {
      const vm = this
      return new Promise(async res => {
        let response
        const obj = {
          _id: note._id,
          title: note.title,
          tags: note.tags,
          content: note.content,
          date: note.date,
          edited: note.edited
        }
        if (exists) {
          response = await axios.put('/notes/' + obj._id, obj, vm.header)
        } else {
          response = await axios.post('/notes', obj, vm.header)
        }
        if (response && response.data) {
          if (!exists) {
            this.notes = [...vm.notes, response.data]
          } else {
            const index = this.notes.findIndex(n => n._id === obj._id)
            vm.notes[index] = obj
          }
          vm.updateUI()
          return res(true)
        } else {
          return res(false)
        }
      })
    }
  },
  created: async function () {
    const vm = this
    this.getAuthCookie()
    axios.interceptors.request.use(config => {
      this.loading = true
      return config
    })
    axios.interceptors.response.use(
      res => {
        this.loading = false
        return res
      },
      err => {
        this.loading = false
        let errorMessage
        if (
          err.response &&
          err.response.data &&
          err.response.data.indexOf('html') === -1
        ) {
          errorMessage = err.response.data
        } else {
          errorMessage = err.message
        }

        if (!this.ignoreError) {
          vm.error = {
            message: errorMessage
          }
        } else {
          this.ignoreError = false
        }
      }
    )
    this.loadNotes()
    if (!this.isAuth) {
      if (localStorage.getItem('offline')) {
        this.setOffline(true)
      }
    }
  }
}
</script>

<style lang='scss'>
@font-face {
  font-family: "Dancing Script";
  src: url("./assets/static/DancingScript-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;

  #app {
    background-color: #000;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: fixed;
    width: 100%;

    a {
      text-decoration: none;
    }
    button {
      cursor: pointer;
      margin: 10px 4px 0 4px;
      border-radius: 3px;
      color: $w;
      transition: background 0.4s ease;
      border: none;
      background-color: $sec;
      a,
      a:visited {
        color: $w;
      }
    }
    button:hover,
    button.active {
      background-color: #69d19d;
    }

    button:disabled {
      cursor: not-allowed;
      background-color: #537563;
      color: #ddd;
    }

    .danger {
      background-color: $danger;
    }

    .danger:hover,
    .danger:focus {
      background-color: $dangerLight;
    }

    .danger:disabled {
      background-color: $dangerDisabled;
    }

    .standard {
      color: $w;
      font-weight: bold;
    }

    .standardWidth {
      width: 70%;
      height: calc(100vh - 125px);
      margin: auto 15%;
    }
    .fullWidthContainer {
      background-color: $theme-color;
      width: 100%;
      background-image: url("/img/seamless_monochrome_pencil_pattern_background.png");
      background-attachment: fixed;
    }
    .ui-button {
      font-size: 24px;
      padding: 3px 8px;
    }
    form {
      width: 80%;
      display: block;
      margin: auto;
      .changeNotice {
        color: $w;
        float: left;
        position: absolute;
      }
    }
    form.wide {
      width: 90%;
    }
    .buttonHolder {
      width: 450px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      button {
        width: 200px;
        padding: 3px 0;
        font-size: 25px;
        margin-bottom: 20px;
      }
      .login {
        width: 200px;
      }
    }
    .buttonHolder.centered {
      justify-content: center;
      margin: 0;
    }
    .buttonHolder.small {
      width: 100%;
    }
    .constant {
      button {
        width: 130px;
      }
    }
  }
}
.notLoaded {
  background-color: $sec !important;
  .spinnerHolder {
    height: calc(100% - 70px);
    @extend %deadCenterItems;
  }
}
.main {
  height: calc(100vh - 70px);
  overflow-y: auto;
  transition: top 0.4s ease;
}

.main.locked {
  overflow: hidden;
}

.headline {
  margin: 20px auto 20px 5%;
  position: relative;
  display: inline-table;
  color: $w;
}
.adjusted {
  @extend %centeredText;
  top: 20px;
  margin-top: 0;
}
@keyframes slide-in {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(300px);
  }
}

@media all and (max-width: 1200px) {
  body {
    #app {
      .standardWidth {
        width: 100%;
        margin: auto 0;
      }
      form {
        width: 90%;
      }

      h1 {
        margin-left: auto 5%;
      }
      .buttonHolder {
        width: 300px;
        button {
          width: 130px;
          font-size: 25px;
        }
      }
    }
  }
  .noAdjustment {
    margin-left: 5%;
  }
}
@media all and (max-width: 650px) {
  body {
    #app {
      .gridSwitch.ui-button {
        border: 1px solid #000 !important;
      }

      form {
        .changeNotice {
          position: relative;
          display: block;
        }
      }
    }
  }
}
</style>
