<template>
  <div class="sortHolder">
    <app-select :selectValue="selected" :sortItems="sortItems" :search="!showNew"/>
    <button title="Order Ascending/Descending" name="Order" @click="toggleOrder" class="ui-button">
      <font-awesome-icon :icon="sortUp ? 'arrow-up' : 'arrow-down'"/>
    </button>
  </div>
</template>

<script>
import Select from '../select/Select.vue'
export default {
  components: {
    'app-select': Select
  },
  name: 'Sort-Component',
  props: {
    selected: String,
    showNew: Boolean,
    sortItems: Function,
    sortUp: Boolean,
    toggleOrder: Function
  }
}
</script>
